@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ffff;
    position: fixed;
    width: 100%;
    z-index: 1;
    border-bottom: 1px solid #000000;
}

header .sectionName{
    color: #000000;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 1px;
}

header ul{
    list-style: none;
    display: flex;
    gap: 0vw;
}

header ul li{
    background-color: #ffff;
    font-size: 1rem;
    cursor: pointer;
    font-weight: 400;
    padding: 10px 20px;
    /* border: 1px solid #c4c4c4; */
}

header ul li a{
    color: #000000;
    letter-spacing: 0.7px;
    transition: 0.3s;
}

header ul li a:hover{
    color: #ff5858;
    border-bottom: 1px solid #ff5858;
}

section > div{
    display: grid;
    grid-template-columns: 40% 60%;
    font-size: 18px;
    padding: 1vw;
}

section > :first-child > div{
    margin-top: 12vh;
}

.title{
    font-size: 2rem;
    font-weight: 500;
    color: #24A746;
}

form div{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 34px;
}
/* 
#CustomerManage form div input , #CustomerManage select , #ItemManage form div input , #ItemManage select{
    padding: 10px;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
} */

form div input ,select{
    padding: 10px 20px;
    border: 1px solid #c4c4c4;
    border-radius: 30px;
}

.buttons{
    flex-direction: row;
    font-size: 18px !important;
    gap: 26px;
}

.buttons button{
    padding: 15px 28px;
    border: 1px solid #c4c4c4;
    cursor: pointer;
    border-radius: 41px;
    background-color: #ffff;
    transition: 0.5s;
}

.buttons button:hover{
    color: #ffff;
} 

.buttons > :first-child{
    border-color: #56ABF6;
}

.buttons > :first-child:hover{
    background-color: #56ABF6;
}

.buttons > :nth-child(2){
    border-color: #DB3843;
}

.buttons > :nth-child(2):hover{
    background-color: #DB3843;
}

.buttons > :nth-child(3){
    border-color: #FEBF04;
}

.buttons > :nth-child(3):hover{
    background-color: #FEBF04;
}

.buttons > :nth-child(4){
    border-color: #24A746;
}

.buttons > :nth-child(4):hover{
    background-color: #24A746;
}

.buttons > :last-child{
    border-color: #D43A40;
}

.buttons > :last-child:hover{
    background-color: #D43A40;
}

#CustomerManage table , #ItemManage table{
    margin-left: 50px;
}

#CustomerManage th , #CustomerManage td , #ItemManage th , #ItemManage td{
    border: 2px solid #24A746;
    width: 20vw;
    height: 4vw;
    text-align: center;
}

#CustomerManage th , #ItemManage th{
    background-color: #000000;
    color: white;
}

section{
    display: none;
}

.includeDetails{
    border: 1px solid #000000;
    padding: 20px;
}

#OrderManage > div {
    display: flex;
    justify-content: space-around;
}

#OrderManage > :first-child > div{
    margin-top: 12vh;
}

#OrderManage h1{
    font-size: 1.5rem;
    font-weight: 500;
    background-color: #000000;
    padding: 10px 20px;
    color: white;
}

#OrderManage .includeDetails form div > div ,#OrderManage .includeDetails form > :last-child{
    margin-top: 0;
    margin: 10px 15px;
}

#OrderManage .includeDetails form > :first-child{
    display: grid;
    grid-template-columns: 50% 50%;
}

#OrderManage .ItemSelect form > :first-child{
    display: grid;
    grid-template-columns: 50% 50%;
}

#OrderManage .ItemSelect form div > div , #OrderManage .ItemSelect form > :last-child{
    margin-top: 0;
    margin: 10px 15px;
}

#OrderManage .ItemSelect form > :nth-child(2){
    display: grid;
    grid-template-columns: 40% 39% 20%;
    margin: 0;
}

.ItemSelect > :last-child{
    display: flex;
    justify-content: end;
}

.ItemSelect button{
    padding: 10px 20px;
    border: 1px solid #c4c4c4;
    cursor: pointer;
    background-color: #24A746;
    color: white;
    margin-top: 30px;
    margin-right: 20px;
}

.ItemSelect{
    border: 1px solid #000000;
    padding: 20px;
}

#OrderManage .TotalCal h1 , .TotalCal h2{
    background-color: transparent;
    padding: 0;
    font-size: 30px;
    color: #39dbf8;
    font-weight: 400;
}

.TotalCal {
    border: 1px solid #000000;
    padding: 20px;
}

.TotalCal h2{
    color: #D43A40;
}

.TotalCal form > :first-child{
    display: grid;
    grid-template-columns: 50% 50%;
}

.TotalCal > :last-child{
    display: flex;
    justify-content: center;
}

.TotalCal button{
    padding: 20px 30px;
    border: 1px solid #c4c4c4;
    cursor: pointer;
    background-color: #24A746;
    color: white;
    margin-top: 50px;
}


/* #OrderManage th , #OrderManage td{
    width: 18vw;
    height: 4vw;
    text-align: center;
    margin: 0;
}

#OrderManage th{
    background-color: #04affe;
    color: white;
}

#OrderManage tbody{
    width: 1vh;
    overflow-y: scroll;
} */

.tableRow{
   height: auto;
}

.table > div , .tableRows > div{
    display: flex;
}

.table , .tableRows{
    display: flex;
    flex-direction: column;
    padding: 0 5.7vw;
}

.table > div > div , .tableRows > div > div{
    width: 18vw;
    height: 4vw;
    border: 0.5px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tableRows > div > div{
    width: 20vw;
}

#OrderManage > :last-child{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    max-height: 34vh;
}

.table > div > div{
    background-color: #ff3037;
    color: white;
}

h5{
    font-size: 15px;
    color: #ff4343;
    font-weight: 400;
    position: absolute;
    margin-top: 8.1vh;
}


.carousel {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.carousel-inner {
    display: flex;
    height: 100%;
    transition: transform 0.5s ease;
}

.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
    height: 100%;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    font-size: 2em;
    padding: 10px;
    cursor: pointer;
    z-index: 1000;
}

.carousel-control:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel-control.prev {
    left: 10px;
}

.carousel-control.next {
    right: 10px;
}

#homePage > div{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    padding: 0;
}

table{
    border-collapse: collapse;
}

.counts > div{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.counts > div > div{
    border: 1px solid #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff5d;
    width: 20%;
    text-align: center;
    padding: 10px 0px;
    backdrop-filter: blur(20px);
}

.counts h1{
    font-size: 2rem;
    font-weight: 500;
    color: #24A746;
}

.counts h2{
    font-size: 1.5rem;
    font-weight: 500;
    color: #D43A40;
    margin-top: 20px;
}

.counts img{
    width: 30%;
    margin-top: 10px;
}

#homePage .counts{
    position: absolute;
    display: block;
    height: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
