@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Karla", sans-serif;
    letter-spacing: 0.5px;
    text-decoration: none;
    color: #262626;
}

#navBar{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #FFF;
    border-bottom: 1px solid #e0e0e0;
}

#navBar h1{
    font-size: 26px;
    font-weight: 600;
    color: #262626;
    margin: 0;
}

#navBar .navbar-nav{
    display: flex;
    list-style: none;
    gap: 30px !important;
}

#navBar .navbar-nav .nav-item a{
    font-size: 18px !important;
    font-weight: 500;
    cursor: pointer;
}

#customer{
    width: 100%;
    padding: 20px;
    height: 90vh;
}

#customer table{
    width: 100%;
    border-collapse: collapse;
}

#customer table *{
    border: 1px solid #000000;
    padding: 20px;
    text-align: center;
}

#customer a{
    padding: 0;
    border: 0;
}

#customer table i{
    padding: 0;
    border: 0;
}

#customer .table{
    height: auto;
    max-height: 74vh;
    overflow-y: scroll;
}

#customer .table::-webkit-scrollbar{
    width: 0px;
}

#customer .table thead{
    position: sticky;
    top: 0;
    border: 1px solid #000000;
}

#customer .table thead th{
    background: #262626;
    color: #FFF;
}

#customer .table td{
    font-weight: 500;
}

#customer input{
    width: 30vw;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #000000;
    border-radius: 8px;
}

#customer .searchSection{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

#customer .searchSection button{
    padding: 10px 20px;
    border: 1px solid #000000;
    border-radius: 8px;
    background: #262626;
    color: #FFF;
    cursor: pointer;
}

#customer .searchSection input + button{
    padding: 10px 20px;
    border: 1px solid #000000;
    border-radius: 8px;
    background: #262626;
    color: #FFF;
    cursor: pointer;
    margin-left: 10px;
}

@media screen and (max-width: 991px){
    #customer .searchSection{
        display: block;
    }

    #customer .searchSection > :first-child{
        display: flex;
        width: 100%;
    }


    #customer .searchSection > :last-child{
        width: 100%;
        height: 60px;
        margin: 20px 0;
    }

    #customer .searchSection > :first-child button{
        height: 60px;
    }

    #customer .searchSection input{
        width: 100%;
        height: 60px;
        margin: 0;
    }

    #navBar h1{
        font-size: 20px;
        font-weight: 600;
        color: #262626;
        margin: 0;
    }

}

@media screen and (max-width: 632px){
    #customer .table tr > :first-child{
        display: none;
    }

    #customer .table tr > :nth-child(4){
        display: none;
    }

    #customer .table tr > :nth-child(3){
        display: none;
    }

}

